<!DOCTYPE html>
<html lang="en-us">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
<header>
    <div id="logo">
        <a class="logo">ShURLi </a>
    </div>
</header>
<main>
    <section id="urlbox">
        <h1>enter your url</h1>
        <form action="{{ url_for('change') }}" method="POST">
            <div id="formurl">
                <input type="text" id="url" name="url" placeholder="Enter the link here">
                <div id="formbutton">
                    <input type="submit" value="get my new url">
                </div>
            </div>
            <br>
            <p class="boxtextcenter">
                <label for="custom_url"> want to enter your own custom url?</label>
                <input type="text" id="custom_url" name="custom_url" placeholder="your custom url"><br>
            </p>
            <p class="boxtextcenter">
                with shURLi you can get a shorten url for easier use
            </p>
        </form>
    </section>
    <h1>{{message}}</h1>
</main>
</body>
</html>
